!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %link{href: "css/normalize.css", rel: "stylesheet"}/
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"}
    %link{href:"https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"} 
    %script{src: "/js/application.js"}
    %title Forecastr – Weather for you
  %body
    = yield
