!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %link{href: "stylesheets/css/normalize.css", rel: "stylesheet"}/
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}

    %script{src: "/js/application.js"}
    %title Forecastr – Weather for you
  %body
    = yield
